@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|Montserrat:400,400i,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Helvetica;
}
.clearfix:after{
	content:"hello";
	display: block;
	clear: both;
}
img{
	display: block;
	width: 100%;
	max-width: 100%;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
}
#narrow{
	width: 33.33%
}	
#wide{
	width: 66.66%
}
.podcastepisode{
	width: 33.33%;
	float: left;
}
h1{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
h2{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}
h3{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
time{
	font-family: 'EB Garamond', serif;
}
small{
	font-family: 'EB Garamond', serif;
}
#slogan{
	font-style: italic;
}
.button{
	background-color: #FFFFFF;
	text-align: center;
	padding: 15px 25px;
	display: block;
	width: 50%;
	margin: 5px;
}
p{
	font-size: 16px;
	font-family: 'EB Garamond', serif;
}